.loginBtn {
  border-radius: 32px;
  background: linear-gradient(180deg, #06286e 0%, #164ec0 100%);
}

.flashCardBg {
  border-radius: 42.507px;
  background: linear-gradient(
    223deg,
    #051a91 -4.31%,
    #061c93 14.41%,
    #2284f1 81.88%,
    #1f80eb 103.81%
  );
}
